.listWrapper {

   display: flex;
   flex-direction: column;
   gap: 10px 0;

   padding: 2.5% 15%;

   /* width: 100%; */

   height: 90vh;
   overflow-y: auto;

   &>*[dataType="sent"] {
      margin-left: auto;
   }

   &.align_center {
      align-items: center;
   }

}