.itemWrapper {

   display: inline-block;

   &[dataType="sent"] {
      max-width: 50%;
   }

   &[dataType="load"] {
      height: 24px;

      svg {
         height: 100%;
      }
   }

}

.msgReceived {

   font-family: inherit;
   font-size: 1.125rem;
   font-weight: 400;
   line-height: 20px;


   white-space: pre-wrap;
   word-break: break-word;
   overflow-wrap: break-word;

}