.sendMsgWrapper {

   background-color: var(--primary);
   text-align: center;

   svg>g>path:last-child {
      fill: var(--fourth);
      stroke: var(--second);
   }

   svg {
      width: 30px;
      height: 30px;
   }
}