.cardWrapper {

   padding: 10px;

   /* max-width: 50%; */

   background-color: var(--primary);
   color: var(--second);
   border-radius: 8px;

   font-family: inherit;
   /* font-size: 1.125rem; */
   font-weight: 400;
   line-height: 20px;


   word-break: break-word;
   overflow-wrap: break-word;
   word-wrap: break-word;

}