.textAreaWrapper {

   display: flex;
   align-items: center;

   /* max-height: 500px; */


   border-radius: 10px;
   border: 2px solid var(--primary);
   background-color: white;

   /* padding-inline: 5px; */

   &.wrap {
      flex-wrap: wrap;
      padding-inline: 5px;

      .textContainer {
         width: 100%;
         order: 0;
      }

      .btnIconLeft {
         margin-left: auto;
      }

      .btnIcon {
         margin-bottom: 5px;
      }
   }

}

.textContainer {

   flex-grow: 1;

   display: block;
   padding: 5px;

   font: inherit;
   font-weight: 400;
   color: var(--third);


   height: 50%;

   border-radius: inherit;

   border: none;
   outline: none;

   resize: none;


   order: 2;

}

.btnIcon {

   width: 35px;
   height: 35px;

   cursor: pointer;

   button {
      border-radius: 8px;

   }

   button,
   svg {
      display: inline-block;
      width: 100%;
      height: 100%;
      vertical-align: middle;
   }

}

.btnIconRight {
   order: 1;
}

.btnIconLeft {
   order: 3;
}